vendors = official
stroke-width = 0.16%
stroke-length = 1%

body
  margin: 0

svg
  box-sizing: border-box

path
  fill: url(#diagonalHatch)
  stroke: black
  stroke-width: stroke-width
  fill-rule: nonzero
  stroke-linejoin: round

  &:hover
    fill: magenta
    stroke-dasharray: stroke-length
    animation: dash 1s linear infinite

  &:first-of-type
    fill: url(#antiDiagonalHatch)

    &:hover
      fill: lime

pattern rect
  stroke: none

#diagonalHatch
  stroke: black
  fill: silver

@keyframes dash
  from
    stroke-dashoffset: 0%
  to
    stroke-dashoffset: -2 * stroke-length
